

$cciliber-font-family: Monserrat, sans-serif;
$cciliber-font-size: 16px;


$link-color: cornflowerblue;
$link-color-hover: blue;
$link-color-active: darkgray;


$research-project-margin: 1em;



$color-structure: #63B6B1;
$color-icubworld: #CE534C;
$color-multisensory: #285DAE;


$color-gray: 3;


$color-gray-medium: #777;
$color-gray: #D4D6D8;






// Fonts


@font-face
{
	font-family: CaviarDreams;
    src: url('../fonts/CaviarDreams.ttf');
}


@font-face
{
	font-family: Alegreya;
    src: url('../fonts/AlegreyaRegular.otf');
    
}





















* {
}


html {
 height: 100%;   
}



a {
    text-decoration: none;
    color: $link-color;
}

a:hover {
    color: $link-color-hover;   
}

a:active {
    color: $link-color-active;   
}






body {
    height: 100%;
    margin:0;
    font-family: $cciliber-font-family;
    font-size: $cciliber-font-size;
    
    overflow-x: hidden;
}


header {
    color:$link-color;
    width: 100%;
    position: fixed;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    
    z-index: 9999;
    
    background-color: white;
    
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
//    
//    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
//    background: transparent;

//    position: absolute;
    top:0;
    
    // links 
    a {
        padding-top: 1.1em;
        padding-bottom: 1.1em;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: center;
        text-transform: uppercase;
        
        color: inherit;
    }

}



main {
 
    min-height: 100%;
    
}



/*   
Section stuff
*/



$diamond-size: 6em;
$diamond-top-position: -$diamond-size/2;
$diamond-left-position: -$diamond-size/2;


section.diamond::before {
    position: absolute;
    
    background: inherit;
    width: $diamond-size;
    height: $diamond-size;
    
//    margin: 100px;
    left: calc(50% - #{$diamond-size/2});

    
    
    top: $diamond-top-position;

    content:'';
    
	transform: rotate(45deg);
    
}




section{
    position: relative;
    
    text-align: center;
    padding-top:3em;
    padding-bottom: 2em;
    
    width: 100%;
    min-height: 100%;
    
    background: white;
    
}

section > * {
    width: 80%;
    margin-left:auto;
    margin-right:auto;   
    
    
}

section > p {
        line-height: 2em;
    
}


section > h1 {
    text-transform: uppercase;
    font-size: 3em;
}



/*   
Section: Landing - the 'Home' section
*/


section.landing {
    
    
    background-color: transparent;
    padding: 0;
    
    div.landing {
        background-image: url(../img/background_blur_small_comp.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        
//        background-color: white;
        background-color: rgba(255,255,255,0.5);
        
        
        background-blend-mode: soft-light;
        
        

        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1000;
        

                
        .title-container {

            background: transparent;
            
            display: inline-block;
            position: absolute;
            color: white;

            width:auto;
            top:25%;
            left:5%;
    //        top:50%;
    //        bottom:10%;
    //        left:10%;

            text-align: left;

            div.stuff {
                position: relative;
                width: 100%;
                height: 100%;
                opacity: 0.4;
            }

            h1 {
                font-size:7em;
                margin:0;
    //            font-family: sans-serif;
                font-family: CaviarDreams;
                color: $link-color;
                
                text-transform: none;
    //            background: white;


            }


            h2 {
                display: inline-block;
                margin:0;
                font-size: 2em;
    //            font-family: helvetica;  
                font-family: Alegreya;
//                color: $link-color;
//                color:#45423A;
                color: #CE534C;
    //            background: white;

            }

    //        animation-name: ciao;
    //        animation-iteration-count: 1;
    //        animation-timing-function: ease-in;
    //        animation-duration: 1s;
        }
    }
}


@keyframes ciao {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




/*   
Section: Research
*/

section#research {
    background-color: $link-color;
    color: white;
    
}

.research-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;

    margin-left: -$research-project-margin; 
    margin-right: -$research-project-margin;
    
    padding-bottom: 6em;
    
    .research-project {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 10em;
        
        max-width: 25em;
        
        margin-top: 3em;
        margin-left: $research-project-margin;
        margin-right: $research-project-margin;
        
        
        .flip-logo-container, .logo-clontainer, .research-modal-base{
            width: 7em;
            height: 7em;
            margin: 0.5em;

        }
        
        
        .research-modal-base.active {
//          margin = -(new_size - (old_size+2*old_margin))/2
//          better if is not float
//            width: 148em;
//            height: 148em;
//            margin:-70em;
        }

    
            
        h1 {
            font-size:1em;   
        }
        
        p {
            text-align: center;
        }
        
    }
    
}




.flip-logo-container {
    display: inline-block;
	position: relative;
    margin: 0;
    border-radius: 40%;
//    display: inline-block;
//    perspective: 800px;
}

.flip-logo-wrapper {
    position: absolute;
    perspective: 800px;
}

.flip-logo{
    perspective: 800px;
    margin: 0;
    width: 100%;
	height: 100%;

    transition: all 0.4s ease-in-out;
	transform-style: preserve-3d;
    
    display: inline-block;
}

.flip-logo > div {
	height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	transform-style: preserve-3d;
}

.flip-logo .flip-logo-back {
    
	transform: rotate3d(0,1,0,180deg);
}


.flip-logo-container:hover, .flip-logo-container.active {
    
    .flip-logo {
	   transform: rotate3d(0,1,0,-180deg);
    }
    
}





/* 

To show logos

*/

.clickable:hover
{
    cursor: pointer;
}


.clickable:active
{
}



.logo-container 
{
    display: inline-block;
    border-radius: 50%;
    background-color: $link-color;
    
    transition: all 0.1s ease;
}

.logo-container.expanded
{
    transform: scale(20.0);
}


.logo {
    display: inline-block;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 50%;
    
    position:relative;
    
    margin:10%;
    width: 80%;
    height: 80%;
}



._project-structure .logo {
    background-image: url(../img/structure_logo.png);
}

._project-icubworld .logo {
    background-image: url(../img/icubworld_logo.png);
}

._project-multisensory .logo {
    background-image: url(../img/multisensory_logo.png);
}

.logo-container.invert-logo {
    background-color: $link-color;   
}

.invert-logo .logo {
    background-color: transparent;   
}
//
//._project-structure .invert-logo .logo {
//    background-image: url(../img/structure_logo_back.png);
//}
//
//._project-icubworld .logo .invert-color {
//    background-image: url(../img/icubworld_logo_back.png);
//}
//
//._project-multisensory .logo .invert-color {
//    background-image: url(../img/multisensory_logo_back.png);
//}






._close
{
    position: fixed;
    right:1em;
    display: inline-block;
    border-radius: 50%;
    background-color: inherit;

    width:2em;
    height:2em;

    margin: 0.2em;
}


._close .logo {
    background-image: url(../img/close.png);    
}


/*

Formatting papers

*/



.article {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    
    margin-top:3em;
    margin-bottom: 4em;
    

    img {
        margin: 1em;
        margin-bottom: 1em;
        height:10em;
        
        border-radius: 10px;
        border: 0.3em solid $color-gray;

    }
    
    .article-text-container {
        margin: 1em;
        flex-grow: 1;
        flex-basis: 20em;
    
        
            
        h1 {
            margin-top:0;
            margin-bottom:0;
            font-size:2em;   
        }
        
        p {
            margin-top: 0.5em;
        }
        
        
        div {
            div {
                display: inline;
                background-color: white;
                margin: 0;
                padding: 0;
            }
        }
        
        ul {
            list-style: none;
            padding: 0;
            
            a {
                display: inline-block;
                background-color: white;
                margin: 0;
                padding:0.4em;
                border-right: 0.1em solid $color-gray;
                color: $color-structure;
            }
            
            a:hover {
                color:white;
                background-color: $link-color;
                cursor: pointer;
            }
            
            a:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;   
            }
            
            
            a:last-child {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;   
                border-right: 0;
            }
            
        }
    }
}



.article.left {
    text-align: left;
    
    img {
        margin-right:2em;
    }
    
    
}

.article.right {
    text-align: left;
    flex-wrap:wrap-reverse;

    
    img {
        margin-left:2em;
    }
    
    
    
    
}



/*

Section for research projects

*/
.research-modal {
    display: block;
    height: 0;
    position: fixed;
    top:0;
    background-color: transparent;
    
    height: 100%;
    width: 100%;
    
    opacity: 0;
    
    z-index: -1;
    
    section {
        position:  relative;
        color: white;
        opacity: inherit;
        transition: all 0.5s ease;
        background-color: $link-color;
        overflow: scroll;
        height:100%;
    }

    
    .research-modal-scroll {
        height:100%;
        overflow:auto;
        position:relative;
    }

}


.research-modal.active {
    opacity: 1;
    
    z-index: 100;
}





// flying zone : ) 


.flying
{
    border-radius: 50%;
    background-color: $link-color;

    display: none;
    
    position: absolute;
    
}



.flying.active {
    display: block;
}



.flying.flying-modal {
    z-index: 50;
    position: absolute;
}




.flying-dock {
    display: none;
    position:absolute;
    
    width:30%;
    z-index: 200;

    
    .flying {
        display: block;
        position: absolute;
    }
    
}



.dummy-container {
    
    width:100%;
//    margin: -0.75em;
//    margin-top:3.5em;
    margin-top: 4em;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: initial;
    .dummy {
        position: static;
        display: inline-block;
        height: 4em;
        width: 4em;
        opacity: 0;
        margin: 0.5em 0.75em 0.5em 0.75em;
    }
}



@media screen and (max-width: 1170px) {

    .flying-dock {

        width:10%;

    }
    
    .dummy-container {
        flex-wrap: wrap;   
    }
}


/* 

Research modal take 2

*/




.research-modal-container {
    display: block;
    position: fixed;
    top:0;
    background-color: transparent;
    height: 100%;
    width: 100%;
    opacity: 1;
    
    z-index: -1;
    
    section {
        display:none;
        color: white;
        background-color: $link-color;
        opacity: 0;
        position: absolute;
    }

    
    .research-modal-scroll {
        height:100%;
        overflow:auto;
        position:relative;
    }

}



.research-modal-container.front-view {
    z-index: 100;
}




// activities related stuff

.activity-container {
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;

    padding-top: 2em;
    padding-bottom: 2em;
    
    
    .activity {        
        flex-grow: 1;
        flex-shrink: 1;
        
        flex-basis: 60%;
        
        @media screen and (min-width: 700px) {
            flex-basis: 40%;
        }
        
        @media screen and (min-width: 1100px) {
            flex-basis: 33%;
        }

//        @media screen and (min-width: 480px) {
//            
//            flex-basis: 40%;
//            
//        }

        
//        width: 40%;
//        max-width: 400px;
        
//        flex-basis: 50%;
        
        
//        width: 40%;
    
    }
    
    figure {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        
//        flex-grow: 0;
//        flex-shrink: 0;
//        flex-basis: 40%;

        //        width: 100%;
        
        padding-bottom: 70%;         
        
        overflow: hidden;
        margin:1em;
//        background: #3085a3;
        background: black;
        text-align: center;
        cursor: pointer;

        img {
            position: absolute;
            display: block;
            opacity: 0.8;
//
//            min-height: 100%;
//            max-width: 100%;
        }   
        
    
        figcaption {
            padding: 0;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.25em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        figcaption::before,
        figcaption::after {
            pointer-events: none;
        }

        figcaption,
        figcaption > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        /* Anchor will cover the whole item by default */
        /* For some effects it will show as a button */
        figcaption > a {
            z-index: 1000;
            text-indent: 200%;
            white-space: nowrap;
            font-size: 0;
            opacity: 0;
        }

        h2 {
            word-spacing: -0.15em;
            font-weight: 300;
        }

        h2 span {
            font-weight: 800;
        }

        h2,
        p {
            margin: 0;
        }

        p {
            letter-spacing: 1px;
            font-size: 68.5%;
        }
        
    }
    


    figure.effect-lily img {
        max-width: none;
        width: -webkit-calc(100% + 50px);
        width: calc(100% + 50px);
        opacity: 1;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-40px,0, 0);
        transform: translate3d(-40px,0,0);
    }

    figure.effect-lily figcaption {
        text-align: left;
    }

    figure.effect-lily figcaption > div {
        bottom: 0;
        left: 0;
//        padding: 2em;
        padding-top: 25%;
        padding-left: 2em;
        padding-right: 2em;
//        width: 100%;
//        height: 100%;
//        height: 50%;
    }

    figure.effect-lily h2,
    figure.effect-lily p {
        -webkit-transform: translate3d(0,40px,0);
        transform: translate3d(0,40px,0);
    }

    figure.effect-lily h2 {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }

    figure.effect-lily p {
        color: rgba(255,255,255,0.8);
        opacity: 0;
        -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
        transition: opacity 0.2s, transform 0.35s;
    }

    figure.effect-lily:hover img{
        opacity: 0.5;    
    }
    
    figure.effect-lily:hover p {
        opacity: 1;
    }

    figure.effect-lily:hover img,
    figure.effect-lily:hover h2,
    figure.effect-lily:hover p {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    figure.effect-lily:hover p {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
        -webkit-transition-duration: 0.35s;
        transition-duration: 0.35s;
    }    

}


//.activity {
//
//    list-style: none;
//	text-align: center;

//.activity {

    
    
//}



// Timeline related stuff



$timeline-image-size: 7em;
$timeline-image-border: 0.4em;
$timeline-h1-margin: 0.1em;
$timeline-h1-fontsize: 2em;

$timeline-block-padding: 1em;
$timeline-small-header-padding: 1em;
$timeline-block-width: 30em;

$timeline-line-color: $link-color;



.timeline {
    position: relative;
    margin-top: 4em;
    margin-bottom: 4em;
}


.timeline:before
{
    position: absolute;
    content: '';
    top:0;
    bottom:0;
    width: 0.5em;
    margin-left: -0.25em;
    left: 50%;
    background-color: $timeline-line-color;
}



.timeline-block {
    position: relative;
    width: 50%;
    
    min-height: 15em;
}


.timeline-image {
    border: $timeline-image-border $color-gray solid;
    border-radius: 50%;
    width: $timeline-image-size;
    position: absolute;
    
    background-color: $link-color;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    

    height: $timeline-image-size/2;
    padding-top: $timeline-image-size/2;

    text-align: center;
    
    span {
        color: white;
        font-size: 1.5em;
        line-height: 0;

    }
    
}

.img-mit-main {
    background-image: url('../img/mit-main.jpg');   
}


.timeline-textbox {

    position: relative;
    width: auto;
    
    p {
        margin-top: 0.5em;
    }
}


.timeline-header {
    height: $timeline-image-size/2 + $timeline-image-border;
    position: relative;
}


.timeline-title-container {

    position: absolute;
    bottom: 0;

//    border-bottom: 1px solid $timeline-line-color;

    padding-left: $timeline-small-header-padding;
    padding-right: $timeline-small-header-padding;
    
    h1 {
        margin:0;
        font-size:1.2em;
    }

}



.timeline-block:nth-child(odd) {
    
    left: 50%;
    
    .timeline-image {
        left: -$timeline-image-size/2 -$timeline-image-border;
    }
    
    .timeline-textbox {
     
        margin-left: $timeline-image-size/2+$timeline-image-border;
        
        
        p, .timeline-title-container {
            padding-left: $timeline-block-padding;
            text-align: left;
        }
    }
    
    
}




.timeline-block:nth-child(even) {

    .timeline-image {
        right:-$timeline-image-size/2 -$timeline-image-border
    }


    .timeline-textbox {
     
        text-align: right;
        
        right:0;
        margin-right: $timeline-image-size/2 + $timeline-image-border;
        
        p, .timeline-title-container {
            padding-right: $timeline-block-padding;
            text-align: right;
            right:0;
        }
                

    }

    
}







