/* ==========================================================================
   DARK THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);

$background                 : #0d1117;
$background-light           : #161b22;
$background-lighter         : #21262d;
$text                       : #e6edf3;
$link                       : #58a6ff;
$link-dark                  : #1f6feb;
$link-light                 : #79c0ff;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$background};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$background};
    --global-border-color               : #{$background-lighter};
    --global-dark-border-color          : #{$background-light};
    --global-code-background-color      : #{$background-lighter};
    --global-code-text-color            : #{$text};
    --global-fig-caption-color          : #8b949e;
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-light};
    --global-link-color-visited         : #a371f7;
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$link};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #c9d1d9;
    --global-thead-color                : #{$background-lighter};
}